body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.converter {
  margin-bottom: 15px;
}

.converter label {
  display: block;
  margin-bottom: 5px;
}

.converter input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.converter button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.converter button:hover {
  background-color: #0056b3;
}

.history {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  opacity: 0;
  height: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.history.show {
  opacity: 1;
  height: auto;
  transform: scale(1);
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  background: #e9ecef;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.history li.hide {
  opacity: 0; /* Apply this class to hide the element */
  transform: scale(0.9);
}
